body {
  font-family: arial;
  margin: 0;
  background-color: #e8ebf1;
}
.container {
  width: 100%;
}
.container--white{
  background-color: #fff;
  padding-bottom: 20px;
}
.container--cyan{
  background-color: #81e4ed;
}
.block {
  margin: 0 auto;
  position: relative;
  max-width:1000px;
  padding:5px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.logo {
  font-size: 50px;
  line-height: 20px;
  font-family: Lato;
  font-weight: 900;
  color: #000;
}
  .logo span {
    color: #2aacc8;
    font-weight: 400;
    vertical-align: top;
  }
  .logo a {
    text-decoration: none;
    color: #000;
  }

.top-menu {
  margin-top: -10px;
  list-style: none;
  float: right;
  font-size: 30px;
}
  .top-menu li {
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
    font-weight: 700;
    line-height: 20px;
  }
  .top-menu li a {
    display: block;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 10px;
  }
  .top-menu > ul > li > a:hover {
    border-top: 3px solid #2aacc8;
    color: #2aacc8;
    background-color: white;
    padding-top: 17px;
  }
  .top-menu li:hover .subnav {
    display: block;
    border-bottom: 3px solid #2aacc8;
  }

.downarrow:after {
  content: "\25be";
  display: inline;
  clear: both;
  outline-width: 700;
  padding-left: 10px;
  padding-bottom: 20px;
}
.subnav {
  display: none;
  position: absolute;
  width: 200px;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  background-color: white;
  padding: 0;
}
  .subnav li {
    width:85%;
  }
  .subnav li a{
    border-bottom: 1px solid lightgray;
    text-transform: unset;
  }
  .subnav li a:hover {
    color: #2aacc8;
  }
  .subnav > li .smiley {
    border-radius: 1em;
    -webkit-box-shadow: 0 0 0 0.4em #2C2C2C, inset 0 0 0 0.1em #2C2C2C;
    box-shadow: 0 0 0 0.4em #2C2C2C, inset 0 0 0 0.1em #2C2C2C;
    height: 2em;
    position: relative;
    width: 2em;
    margin-top: 0.3em;
  }
  .smiley::after, .smiley::before {
    background-image: -ms-radial-gradient(transparent 35%, #2C2C2C 35%);
    background-image: -webkit-radial-gradient(transparent 35%, #2C2C2C 35%);
    background-image: -moz-radial-gradient(transparent 35%, #2C2C2C 35%);
    background-image: -o-radial-gradient(transparent 35%, #2C2C2C 35%);
    background-image: radial-gradient(transparent 35%, #2C2C2C 35%);
    content: '';
    height: 1em;
    position: absolute;
    top: 0;
    width: 1em;
  }
  .smiley:before {
    border-radius: 0 1em 0 0;
    right: 0
  }
  .smiley:after {
    border-radius: 1em 0 0 0;
    left: 0;
  }

.slider {
  padding: 20px 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}
  .slider__image {
    background-color: #dd5835;
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 20px;
  }
  .slider__image img {
    width: 100%;
  }
  .slider__controls li {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 10px;
  }
  .slider__controls li:hover {
    background-color: #fff;
    cursor: pointer;
  }

.features {
  display: flex;
  padding: 70px 0;
}
  .features__item {
    min-width: 23%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .features__item--logo{
    min-width: 40px;
    min-height: 40px;
    border-radius: 100%;
    background-color: #2aacc8;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .features__item--logo img {
    padding: 8px
  }
  .features__item--title {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .features__item--text {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #363636;
    padding-bottom: 20px;
    overflow: hidden;
    margin: 50px 0;
  }
  .features__item--readmore a {
    color: #2aacc8;
    text-decoration: none;
  }
  .features__item--readmore a:before {
    content: "\25b8";
    display: inline;
    color: black;
    clear: both;
    padding-right: 10px;
  }

.works {
  background-color: #fff;
}
  .works__header--title {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .works__header--title img {
    margin-right: 40px;
  }
  .works__header--controls {
    display: flex;
  }
  .works__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  .works .works__header {
    border-bottom: 1px solid #d2cdcd;
  }
  .works__gallery {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    flex-wrap: wrap;
    border-bottom: 1px solid #d2cdcd;
  }
  .works__gallery--info {
    height: 50%;
    background-color: #2aacc8;
    position: relative;
    bottom: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  .works__gallery--item:hover .works__gallery--info{
    opacity: .9;
    transition: opacity, .4s;
  }
  .works__gallery--info img {
    margin: 0 20px;
  }

.control__arrow {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #2aacc8;
  padding: 3px;
  text-align: center;
  font-weight: 700;
  font-size: 10px;
  padding: 5px;
  margin: 0 3px;
}
  .control__arrow:hover {
    background-color: #81e4ed;
    color: #fff;
    cursor: pointer;
  }

.testimonials__clients {
  display: flex;
  margin-bottom: 30px;
}
.testimonials, .clients {
  min-width: 50%;
  border-bottom: 0px;
}
.testimonials__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #363636;
  padding: 25px 25px 0 0;
}
.testimonials__text p {
  font-weight: 600;
  font-style: italic;
  margin-top: 40px;
}

.clients__content img {
  margin: 1px;
}

.download {
  background-color: #e8fcfe;
  border: 1px solid #81e4ed;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
  .download__text {
    width: 607px;
    height: 68px;
    color: #363636;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 30px 0;
  }
  .download__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0d0707;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    padding: 0px;
    width: 240px;
    height: 60px;
    background-image: linear-gradient(to top, #2aacc8 0%, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
    border-radius: 8px;
    box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
    margin: 20px;
  }
  .download__button:hover {
    cursor: pointer;
    color: #fff;
  }
  .download__button img {
    margin-right: 20px;
  }

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 5px;
}
  .footer__item {
    max-width: 20%;
  }
  .footer__item ul{
    margin-top: 0;
  }
  .footer__item img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }

.underfooter {
  display: flex;
  flex-wrap: wrap;
  color: #363636;
  width: 80%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  justify-content: space-between;
}
