body {
	font-family: arial;
	margin: 0;
}
.header{
    margin:0;
    width: 100%;
    background-color: #e8ebf1;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}
.container{
    margin: 0 auto;
    max-width: 1000px;
}
.logo{
    float: left;
    margin-top: 36px;
    margin-bottom: 47px;
}
.nav{
    margin: 0;
    float: right;
    margin-top: 55px;
    margin-bottom: 54px;
    margin-right: 18px;
}

.menu{
    height: 11px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__item {
    float: left;
    margin: 0 14px;
       
}

.menu__item:last-child{
    padding-right: 0;
}

.menu__link {
    display: block;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Arial - Bold MT";
    font-size: 13px;
    font-weight: 400;
    padding: 8px 8px;
    border-top: 5px solid transparent;
    white-space: nowrap;
}

.dropdown{
    position: relative;
}

.dropdown .menu__link {
    background-image: url(img/down-arrow.png);
    background-repeat: no-repeat;
    background-position: 92%;
    padding-right: 23px;
   
}

.submenu {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 5px 0 #2aacc8;
    border-bottom: 1px solid #e8ebf1;
    z-index: 1;
    padding: 12px 0;
}

.submenu__item {
    list-style: none;
    margin: 0 5px;
    padding: 10px;
}

.submenu__link {
    display: block;
    position: relative;
    box-sizing: border-box;
    color: #000;
    background-color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding-right: 28px;
    white-space: nowrap;
    
}

.link__border{
    vertical-align: baseline;
    border-bottom: 1px solid #e8ebf1;
}

.link__border:last-child{
    border-bottom: none;
}

.menu__item:hover .menu__link {
    color: #2aacc8;
    border-top: 5px solid #2aacc8;
    
}

.dropdown:hover{
    background-color: #fff;
    
}

.submenu__link:hover {
    background-color: white;
    color: #2aacc8;
    
}
.menu__item:hover .submenu {
    display: block;
}

.clearfix{
    clear: both;
}

.headerdown{
    width: 100%;
    background-color: #81e4ed;;
    background-size: cover;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.container1{
    width: 1000px;
    margin: 0 auto;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.12);
    background-color: #e05936;
    position: relative;
    margin-top: 20px;
    box-sizing: border-box;
}
.headertext{
    width: 294px;
    float: left;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-top: 102px;
    margin-left: 61px;
    margin-bottom:  119px;
}
.headerpic1{
    margin-left: 64px;
    margin-top: 3px;
    margin-bottom: 27px;
}
.headerpic2{
    position: absolute;
    top: 0;
    right: 0;
}
.circles{
    text-align: center;
       
}
.circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #626262;
    margin-right: 15px;
    margin-top: 12px;
    margin-bottom: 14px;
}
.circle:last-child{
    margin-right: 0;
}
.circle:hover{
    background-color: #fff;
}
.block3{
    max-width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e8ebf1;
    background-size: cover;
}
.item{
    display: inline-block;
    max-width: 216px;
    margin-top: 60px;
    margin-right: 44px;
    margin-bottom: 51px;
    position: relative;
    vertical-align: top;
}
.item:last-child{
    margin-right: 0;
}
.item_icon{
    background-color: #2aacc8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(img/Shape_2.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
.item_title{
    color: #000000;
    white-space: nowrap;
    font-family: "Arial - Bold MT";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 59px;
    margin-top: 11px;
}
.item_description_text{
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 37px;
    margin-bottom: 0;
}
.read{
    margin-top: 28px;
}
.readtext{
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #2aacc8;
    margin-left: 8px;
}
.item_icon{
    background-color: #2aacc8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(img/Shape_2.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
.item.second .item_icon{
    background-image: url(img/fullscreen.png);
}
.item.fird .item_icon{
    background-image: url(img/view_list.png);
}
.item.forth .item_icon{
    background-image: url(img/plane_2.png);
}
.block4{
    background-color: #fff;
}
.arrow_left{
    float:left;
    position: relative;
}
.shape3{
    position: absolute;
    top: 20px;
    left: 0;
}
.textblock4{
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 29px;
    margin-bottom: 18px;
}
.arrow_right{
    float: right;
    margin-top: 26px;
}
.arrow_right1{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: #81e4ed;
    background-image: url(img/Shape_1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 11px;
    margin-bottom: 18px;
}
.arrow_right2{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: #81e4ed;
    background-image: url(img/Shape_1_copy.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 18px;
}
.box{
    border-bottom: #dfe1e5 1px solid;
}
.pic{
    display: inline-block;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 40px;
    position: relative;
}
.pic:last-child{
    margin-right: 0;
}
.hide{
    display: none;
    width: 220px;
    height: 81px;
    background-color: #2aacc8;
    position: absolute;
    top: 81px;
}
.preview{
    padding-top: 29px;
    padding-left: 69px;
    padding-bottom: 27px; 
}
.preview1{
    padding-top: 28px;
    padding-left: 35px;
    padding-bottom: 27px; 
}
.pic:hover .hide{
    display: block;
}
.bottom_block{
    background-color: #fff;
}
.box3_left{
    float: left;
    margin: 0;
    width: 425px;
}
.icon_b3{
    display: inline-block;
    vertical-align: top;
    background-image: url(img/comments.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 23px;
    margin-top: 21px;
}

.title_b3{
    display: inline-block;
    vertical-align: top;
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-left: 15px;
}
.db3top{
    margin: 0;
    margin-top: 15px;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.db3{
    margin: 0;
    margin-top: 28px;
    color: #363636;
    font-family: "Arial - Bold Italic MT";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.box3_right{
    float: right;
    width: 486px;
    
}
.icon_rb3{
    display: inline-block;
    vertical-align: top;
    background-image: url(img/clients.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 20px;
    margin-top: 19px;
}

.title_rb3{
    display: inline-block;
    vertical-align: top;
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-left: 15px;
}
.clients_icons{
    margin-top: 15px;
    margin-bottom: 41px;
}
.clients_icon1{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 160px;
    height: 101px;
    box-shadow: inset 0 0 25px #e8ebf1;
    border: 1px solid #e8ebf1;
    background-color: #ffffff;
    box-sizing: border-box;
}
.clients_icon1 > img{
    margin: 0;
    margin-top: 20px;
    margin-left: 32px;
    margin-bottom: 17px;
    margin-right: 24px;
}
.clients_icon1.i2 > img{
    margin: 0;
    margin-top: 20px;
    margin-left: 32px;
    margin-bottom: 25px;
    margin-right: 32px;
}
.clients_icon1.i3 > img{
    margin: 0;
    margin-top: 29px;
    margin-left: 23px;
    margin-bottom: 29px;
    margin-right: 21px;
}
.clients_icon1.i4 > img{
    margin: 0;
    margin-top: 14px;
    margin-left: 25px;
    margin-bottom: 16px;
    margin-right: 25px;
}
.clients_icon1.i5 > img{
    margin: 0;
    margin-top: 15px;
    margin-left: 38px;
    margin-bottom: 19px;
    margin-right: 42px;
}
.clients_icon1.i6 > img{
    margin: 0;
    margin-top: 35px;
    margin-left: 7px;
    margin-bottom: 32px;
    margin-right: 6px;
}
.box4{
    border: 1px solid #81e4ed;
    background-color: #e8fcfe;
}
.box4_left{
    float: left;
    width: 71%;
    
}
.box4_left__text{
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 37px;
    margin-right: 82px;
    margin-bottom: 35px;
    margin-left: 31px;
}
.box4_right{
    width: 28%;
    float: right;
}
.box4_buttom{
    width: 240px;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
    border: 1px solid #2aacc8;
    background-color: #2aacc8;
    border-radius: 6px;
    background-image: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
}
.buttom_img{
    width: 29px;
    height: 26px;
    display: inline-block;
    vertical-align: top;
    background-image: url(img/download.png);
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 19px;
}
.box4_buttom__link{
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    width: 149px;
    height: 15px;
    color: #0d0707;
    font-family: "Arial - Bold MT";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 23px;
    margin-left: 23px;
    white-space: nowrap;
}
footer{
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #e8ebf1;
    margin-top: 40px;
    
}
.wrap{
    margin-top: 31px;
}
.footer_block1{
    display: inline-block;
    vertical-align: top;
    width: 233px;
    margin-right: 68px;
    width: 233px;
}
.header_fblock1{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.blockd1{
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 23px;
}
.footer_block2{
    display: inline-block;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    width: 71px;
    margin-right: 75px;
}
.header_fblock2{
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.blockd2__link{
    text-decoration: none;
    line-height: 26px;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.footer_block3{
    display: inline-block;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    width: 104px;
    margin-right: 66px;
}
.header_fblock3{
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.blockd3__link{
    text-decoration: none;
    line-height: 26px;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
}
.footer_block4{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    width: 135px;
    margin-right: 56px;
}
.header_fblock4{
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.blockd4__text{
    margin: 0;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
   
}
.phone{
    margin: 0;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}
.h3b4{
    margin: 0;
    margin-top: 20px; 
    font-family: "Arial - Bold MT";
    font-weight: 700;
    font-size: 14px;
}
.footer_block5{
    display: inline-block;
    vertical-align: top;
    width: 190px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.header_fblock5{
    color: #000000;
    font-family: "Arial - Bold MT";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
.linkf1{
    margin: 0;
    margin-top: 19px;
}
.linkf2{
    margin: 0;
    margin-top: 9px;
}
.copyright{
    float: left;
    width: 640px;
    color: #363636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 43px;
    margin-bottom: 58px;
}
.logofooter{
    float: right;
    padding-left: 212px;
    margin-top: 41px;
}